table, th, td {
    border: 2px solid black;
    padding: 1px;
}
table {
    border-spacing: 2px;
 }
  
  table#t01 tr:nth-child(even) {
    background-color: #ccc;
}
table#t01 tr:nth-child(odd) {
   background-color:#ffffff;
}
table#t01 th {
    background-color: gray;
    color: black;
}
